body {
    font-family: "Italianno", cursive;
    font-weight: 800;
    font-style: normal;
    background: linear-gradient(to right, #ad7de0, #b9bfc8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #996363;
}

.container {
    background-color: #ffffff;
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
    width: 400px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.password-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.password-form input[type="number"] {
    width: 150px;
    padding: 12px;
    font-size: 18px;
    border-radius: 6px;
    border: 1px solid #ccc;
    text-align: center;
}

.password-form input[type="number"]::placeholder {
    font-size: 18px;
}

.password-form button {
    background-color: #2575fc;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.password-form button:hover {
    background-color: #6a11cb;
}

.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.password-container input {
    width: 250px;
    padding: 10px;
    border-radius: 6px 0 0 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    text-align: center;
}

#copyBtn {
    padding: 10px 15px;
    border-radius: 0 6px 6px 0;
    margin-left: 0;
}
